<div class="container">
<div class="module">
  <%= render partial: "shared/data_table", locals:  {
    page_header:  ["Quote Management", ""],
    directions:  "",
    new_button:  ["New", new_broker_agencies_quote_path, false],
	  filters:  [
  		# ["all", "", true, []],
  		# ["some", "", true, [
  		# 	["COBRA", "url", "request_type"],
  		# 	["Termed", "url", "request_type"],
  		# 	["Corn", "url", "request_type"]
  		# ]],
  		# ["the best ones", "", false, []],
      # ["Dad", "", true, [
      #   ["ZZZ", "url", "request_type"],
  		# 	["Apples", "url", "request_type"],
  		# 	["Corn", "url", "request_type"]
      #   ]
      # ]
  	],
  	bulk_actions:  [
  		["Send Secure Message", "", true],
  		["Delete", "", false]
  	],
  	row_functions:  false,
  	row_actions:  [
  		["asterisk", "url", "request_type", "tooltip", "This Popover", [
        ["thisda", "url", true],
        ["thisssda", "url", true]
      ],
    ],
  		["bomb", "url", "request_type", "tooltip"],
  		["asterisk", "url", "request_type", "tooltip"],
  		["bomb", "url", "request_type", "tooltip"],
      ["caret-down", "url", "request_type", "View Details"]
  	],
  	buttons_below_table:  [
  		['Export CSV', 'url', 'request_type'],
  		['Print', 'url', 'request_type']
  	],
    child_rows:  [false, "datatables/child_row"],
    responsive:  true,
  	checkboxes:  false,
  	pagination:  true,
  	ordering:  false,
    destroy: true,
  	info:  true,
  	table_id:  "Quote-index-dataTable",
  	data_url:  quote_index_datatable_broker_agencies_quotes_path(:format => :json),
  	columns:  [
      ["Quote Name", "quote_name"],
      ["Family Count", "family_count","text-right"],
      ["Benefit Group Count", "benefit_group_count", "text-right"],
      ["Claim Code", "claim_code","text-right"],
      ["State", "quote_state","text-right"],
  	  ["Roster", "quote_roster","text-right"],
      ["", "quote_delete","text-right"]
  	]
  } %>
</div>
</div>

<script type="text/javascript" charset="utf-8">

  $('#Quote-index-dataTable').on( 'draw.dt', function () {
    console.log( 'Redraw occurred at: '+new Date().getTime() );
    $("button#close_button").click(delete_quote_handler);
  } );

  var delete_quote_handler = function(){

    $.ajax({
        type: "POST",
        url: "/broker_agencies/quotes/" + this.getAttribute("data-quote-id"),
        dataType: "js",
        data: {"_method":"delete"},
        success: function(){
          console.log("Deleted successfully");

        }
    });
    $(this).parent().parent().remove();
    event.preventDefault();
    $('#Quote-index-dataTable').DataTable().draw(false);
  };
</script>
