<%= form_for 'renewingER', {url: generate_invoice_exchanges_hbx_profiles_path, method: :post, :remote => true} do |f| %>



<div class="module">
  <%= render partial: "shared/data_table", locals:  {
    page_header:  ["Employer Invoices", ""],
    directions:  "",
    new_button:  [],
	  filters:  [
  		# ["all", "", true, []],
  		# ["some", "", true, [
  		# 	["COBRA", "url", "request_type"],
  		# 	["Termed", "url", "request_type"],
  		# 	["Corn", "url", "request_type"]
  		# ]],
  		# ["the best ones", "", false, []],
      # ["Dad", "", true, [
      #   ["ZZZ", "url", "request_type"],
  		# 	["Apples", "url", "request_type"],
  		# 	["Corn", "url", "request_type"]
      #   ]
      # ]
  	],
  	bulk_actions:  [
  		["Send Secure Message", "", true],
  		["Delete", "", false]
  	],
  	row_functions:  false,
  	row_actions:  [
  		["asterisk", "url", "request_type", "tooltip", "This Popover", [
        ["thisda", "url", true],
        ["thisssda", "url", true]
      ],
    ],
  		["bomb", "url", "request_type", "tooltip"],
  		["asterisk", "url", "request_type", "tooltip"],
  		["bomb", "url", "request_type", "tooltip"],
      ["caret-down", "url", "request_type", "View Details"]
  	],
  	buttons_below_table: [
  		# ['Generate Invoices', 'url', 'request_type'],
  		# ['Print', 'url', 'request_type']
  	],
    child_rows:  [false, "datatables/child_row"],
    destroy: false,
    responsive:  true,
  	checkboxes:  false,
  	pagination:  true,
  	ordering:  false,
  	info:  true,
  	table_id:  "ER-invoices-dataTable",
  	data_url:  employer_invoice_datatable_exchanges_hbx_profiles_path(:format => :json),
  	columns:  [
      ["FEIN", "fein", "", [false, ""]],
      ["Legal Name", "legal_name", "", [false, ""]],
  	  ["Enrollment Ratio", "enrollment_ratio", "text-right", [false, ""]]
  	]
  } %>
</div>





<div class="pull-right">
      <%= submit_tag "Generate Invoices", class: "btn btn-primary" %>

</div>
<% end %>
