<div class="tab-content">
  <div class="tab-pane active" id="ivl_shop_Table">
    <table id='sepAdmin' class="table table-striped table-bordered dataTable module">
      <thead>
        <tr>
          <th><%= check_box_tag '', true, false, id: 'select_all_tag' %></th>
          <th>Name</th>
          <th>SSN</th>
          <th>DOB</th>
          <th>HBX ID</th>
          <th>Family Count</th>
          <th>Registered?</th>
          <th>Consumer?</th>
          <th>Employee?</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th>CONSUMER SEP REASON</th>
          <th>ADMIN_COMMENTS</th>
          <th>N/A</th>
          <th>CSL#</th>
          <th>EFFECTIVE DATE RULE</th>
          <th>START ON</th>
          <th>END ON</th>
          <th>EVENT DATE</th>
          <th>NEXT POSSIBLE EFFECTIVE DATE</th>
          <th>OPTION DATE 1</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="tab-pane active" id="ivlTable">
    <table id='sepAdmin1' class="table table-striped table-bordered dataTable module">
      <thead>
        <tr>
          <th><%= check_box_tag '', true, false, id: 'select_all_tag' %></th>
          <th>Name</th>
          <th>SSN</th>
          <th>DOB</th>
          <th>HBX ID</th>
          <th>Family Count</th>
          <th>Registered?</th>
          <th>Consumer?</th>
          <th>Employee?</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th>CONSUMER SEP REASON</th>
          <th>ADMIN_COMMENTS</th>
          <th>N/A</th>
          <th>CSL#</th>
          <th>EFFECTIVE DATE RULE</th>
          <th>START ON</th>
          <th>END ON</th>
          <th>EVENT DATE</th>
          <th>NEXT POSSIBLE EFFECTIVE DATE</th>
          <th>OPTION DATE 1</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="tab-pane active" id="shopTable">
    <table id='sepAdmin2' class="table table-striped table-bordered dataTable module">
      <thead>
        <tr>
          <th><%= check_box_tag '', true, false, id: 'select_all_tag' %></th>
          <th>Name</th>
          <th>SSN</th>
          <th>DOB</th>
          <th>HBX ID</th>
          <th>Family Count</th>
          <th>Registered?</th>
          <th>Consumer?</th>
          <th>Employee?</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th>CONSUMER SEP REASON</th>
          <th>ADMIN_COMMENTS</th>
          <th>N/A</th>
          <th>CSL#</th>
          <th>EFFECTIVE DATE RULE</th>
          <th>START ON</th>
          <th>END ON</th>
          <th>EVENT DATE</th>
          <th>NEXT POSSIBLE EFFECTIVE DATE</th>
          <th>OPTION DATE 1</th>
        </tr>
      </thead>
      <tbody>
      </tbody>  
    </table>
  </div>
</div>