<div class='sep_table'>
  <div id= 'message_form'></div>
    <div id="inbox_provider_form" class="table-responsive">
      <ul class="nav nav-tabs" id="tab_datatables_head">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#ivlTable">All
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="dropdown" data-target="#ivlTable">IVL</a></li>
            <li><a data-toggle="dropdown" data-target="#shopTable">EE</a></li>
          </ul>
        </li>
        <li><a data-toggle="tab" data-target="#ivlTable">Active Enrollments</a></li>
        <li><a data-toggle="tab" data-target="#shopTable">Other</a></li>
      </ul>
      <!--
      <ul class="nav nav-tabs" id="tab_datatables">
        <li><a data-toggle="tab" data-target="#ivlTable">IVL</a></li>
        <li><a data-toggle="tab" data-target="#shopTable">EE</a></li>
      </ul> -->
      <div class='insertTable'>
      </div>
    </div>
</div>
<style type="text/css">
  table.dataTable.select tbody tr,
  table.dataTable thead th:first-child {
    cursor: pointer;
  }
  span.add-control{
    cursor: pointer;
  }
  div.slider {
    display: none;
  }
  table.dataTable tbody td.no-padding {
    padding: 0;
  }
  table.dataTable .hiddenRow {
    padding: 0 !important;
  }
}
</style>