<div class="row container">
  <h3 class="title-inline">Case Management</h3>
</div>
<div class="row container">
  Placeholder for Short Description
</div>
<br/><br/>
<div class="row container">
  <div id="">
    <%= render "sep/approval/sep_index"%>
  </div>
</div>